
@font-face {
    font-family: 'Comic_Neue';
    src: url('Comic_Neue/ComicNeue-Regular.ttf');
  }
  



  @media screen and (min-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: auto auto auto 1fr;
      grid-gap: 10px;
      grid-column-gap: 10px;
      margin: 0 auto;
      padding: 0 2.5%;
      box-sizing: border-box;
      width: auto;
      max-width: 1024px;
     
    }
  }

  @media screen and (max-width: 767px) {
    .grid-container {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .top-section {
    background-color: rgb(190, 200, 235);
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    width: auto;
  }

  
  .details {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
  }

  .centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  button {
    background-color: #7c94df;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  .button1 {
    margin-right: 10px; 
  }
  
  .button2 {
    margin-left: 10px; 
  }

  .education {
    padding: 0px;
    grid-row: 3 / 4;
    border-radius: 10px;
  }

  .educationRecord {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto 20px;
    margin: auto;
    box-sizing: border-box;
    width: auto;
    
  }

  .educationLeft {
    grid-column: 1 / 2;
    background-color:#7c94df;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; 
  }
  .educationLeft h2{
    color: aliceblue;
    text-align: center;
  }
  .educationLeft p{
    color: aliceblue;
    text-align: center;
  }

  .educationRight {
    grid-column: 2 / 4;
    background-color: rgb(200, 226, 208);
    border-radius: 10px;
  }

  .educationRight h2{
    color: black;
    text-align: left;
    padding: 10px;
  }
  .educationRight p{
    color: black;
    text-align: left;
    padding: 10px;
  }

  .about-me{
    background-color: #ebe4ad;
    padding: 0px;
    grid-row: 2 / 3;
    display: flex;
    border-radius: 10px;
  }

  .about-me-left {
 
    width: 50%;
    margin: 10px;

  }

  .about-me-right {

    width: 50%;
    margin: 10px;
  }

  .top-section h2{
        padding: 10px;
        width: 100%;
        text-align: center;
  }

  .contactMe{
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    background-color:azure;
    grid-row: 4 / 5;
    }

  .contactMe h3{
    text-align: center;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
    
  }
  .formInput {
    width: 100%;
    border-collapse: collapse;
  }
  
  .formInput td {
    padding: 10px;
  }

  .formInput tr {
    border-bottom: 1px solid#ccc;
  }
  
  .formInput label {
    display: inline-block;
    width: 150px;
  }

  .formInput  input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .formInput  button[type="submit"] {
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formInput  button[type="submit"]:hover {
    background-color: #0062cc;
  }

body {
	margin: 0;
	padding: 0;
    font-family: 'Comic_Neue', sans-serif;
}

table {
  border-spacing: 0 10px;
}
table td{
  padding-right: 20px;
}
